<div class="modal-md">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Войти</h2>

    <div class="form-control" [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" [(ngModel)]="user.email">
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
      <label for="password">Пароль:</label>
      <input id="password" type="password" formControlName="password" [(ngModel)]="user.password">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Войти</button>
  </form>
</div>
